/* Write your CSS here */
.bg-container {
  background-color: #f1f5f8;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.heading {
  font-family: Roboto;
  font-size: 48px;
  color: #2d3a35;
  font-weight: bold;
}

.value {
  font-family: Roboto;
  font-size: 48px;
  color: #c20a72;
  font-weight: bold;
}

.description {
  font-family: Roboto;
  font-size: 28px;
  color: #2d3a35;
}

.button {
  background-color: #007bff;
  color: white;
  font-family: roboto;
  border-radius: 6px;
  width: 80px;
  height: 40px;
  padding: 5px;
  cursor: pointer;
  transition: box-shadow 500ms;
  border: none;
}

.button:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
